conf.toml
runtime
client/util/ocr/code.png
client/code.png
config.toml
code.png
client/util/go-ddddocr
client/util/gosseract
__pycache__
local.toml
enrollment
pack.zip
enrollment.bin
enrollment.exe
src*.zip
pack*.zip
enrolment.intel.mac
enrolment.linux
enrolment.m.mac
enrolment.mac
